 @import './assets/styles/mdl-variables.scss';

html,body {
    margin: 0; 
    padding: 0;
    min-height: 100%;
    div{
        min-height: 0;
    }
}

* {
    box-sizing: border-box;
}
.wrapper{
    width: 100%;

    > .header {
        position: fixed;
        width: 100%;
        height: $header-height;
        top: 0px;
        z-index: 2;

        .box-content{
            padding: 0;
      
            .md-toolbar{
                width: 100%;
                padding: 0;
            }
        }
    }

    > .footer {
        position: fixed; /* or static */
        width: 100%;
        bottom:0px;
        height: $footer-height;
        z-index:2;

        .box-content{
            padding: 20px 0;
        }
    }

    > .content{
        padding-top: $header-height;
        margin-bottom: $footer-height;
        position: relative; /* or static */
        z-index:1;

        .box-content{
            padding: 0 ;
        }
    }

}

.box-content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px 0;
    max-width: 1060px;
    min-width: 1060px;
    display: flex;
}

