@import '../../assets/styles/mdl-variables.scss';
  /* TODO: Hover and Focus state.
  *       Fix position of mobile search button.
  */
  .md-page-toolbar {
    margin: 0;
    align-items: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
  }
